In [24]:
import numpy as np
import pandas as pd

In [25]:
patients = pd.read_csv('IndividualDetails.csv')
patients['current_status'].value_counts()

current_status
Hospitalized    8301
Recovered        139
Deceased          30
Migrated           1
Name: count, dtype: int64

In [26]:
total = patients.shape[0]
active = patients[patients['current_status'] == 'Hospitalized'].shape[0]
recovered = patients[patients['current_status'] == 'Recovered'].shape[0]
deaths = patients[patients['current_status'] == 'Deceased'].shape[0]

In [27]:
print(total, active, recovered, deaths)

8472 8301 139 30

In [30]:
n_pat = patients[patients['current_status'] == 'Recovered']
p_bar = n_pat['detected_state'].value_counts().reset_index()
p_bar

      detected_state  count
0             Kerala     58
1          Karnataka     39
2            Haryana     12
3      Uttar Pradesh      6
4         Tamil Nadu      6
5          Rajasthan      3
6        West Bengal      3
7              Delhi      2
8     Andhra Pradesh      2
9        Maharashtra      2
10         Telangana      1
11      Chhattisgarh      1
12       Uttarakhand      1
13           Gujarat      1
14  Himachal Pradesh      1
15           Manipur      1

In [29]:
p_bar = patients['detected_state'].value_counts().reset_index()

In [ ]:
p_bar

In [32]:
age = pd.read_csv('AgeGroupDetails.csv')
cvd19 = pd.read_csv('covid_19_india.csv')

In [34]:
age.head()

   Sno AgeGroup  TotalCases Percentage
0    1      0-9          22      3.18%
1    2    10-19          27      3.90%
2    3    20-29         172     24.86%
3    4    30-39         146     21.10%
4    5    40-49         112     16.18%

In [35]:
age

   Sno AgeGroup  TotalCases Percentage
0    1      0-9          22      3.18%
1    2    10-19          27      3.90%
2    3    20-29         172     24.86%
3    4    30-39         146     21.10%
4    5    40-49         112     16.18%
5    6    50-59          77     11.13%
6    7    60-69          89     12.86%
7    8    70-79          28      4.05%
8    9     >=80          10      1.45%
9   10  Missing           9      1.30%

In [40]:
cvd19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 926 entries, 0 to 925
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Sno                       926 non-null    int64
 1   Date                      926 non-null    object
 2   Time                      926 non-null    object
 3   State/UnionTerritory      926 non-null    object
 4   ConfirmedIndianNational   926 non-null    object
 5   ConfirmedForeignNational  926 non-null    object
 6   Cured                     926 non-null    int64
 7   Deaths                    926 non-null    int64
 8   Confirmed                 926 non-null    int64
dtypes: int64(4), object(5)
memory usage: 65.2+ KB