In [24]:
import numpy as np
import pandas as pd

In [25]:
patients = pd.read_csv('IndividualDetails.csv')
patients['current_status'].value_counts()

current_status
Hospitalized    8301
Recovered        139
Deceased          30
Migrated           1
Name: count, dtype: int64

In [26]:
total = patients.shape[0]
active = patients[patients['current_status'] == 'Hospitalized'].shape[0]
recovered = patients[patients['current_status'] == 'Recovered'].shape[0]
deaths = patients[patients['current_status'] == 'Deceased'].shape[0]

In [27]:
print(total, active, recovered, deaths)

8472 8301 139 30

In [30]:
n_pat = patients[patients['current_status'] == 'Recovered']
p_bar = n_pat['detected_state'].value_counts().reset_index()
p_bar

      detected_state  count
0             Kerala     58
1          Karnataka     39
2            Haryana     12
3      Uttar Pradesh      6
4         Tamil Nadu      6
5          Rajasthan      3
6        West Bengal      3
7              Delhi      2
8     Andhra Pradesh      2
9        Maharashtra      2
10         Telangana      1
11      Chhattisgarh      1
12       Uttarakhand      1
13           Gujarat      1
14  Himachal Pradesh      1
15           Manipur      1

In [29]:
p_bar = patients['detected_state'].value_counts().reset_index()

In [ ]:
p_bar